* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open-Sans-Regular";
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

label {
  position: relative;
}

.visually-hidden-img {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.visually-hidden-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.element-hover {
  position: relative;
}

.element-hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0px;
  left: 0;
  background-color: #ffffff;
  opacity: 0;
}

.element-hover:hover.element-hover::after {
  opacity: 1;
}

.underline-title {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Open-Sans-Bold";
  font-size: 14px;
  color: #0f0d0e;
}

.underline-title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  opacity: 0.4;
  transform: translateX(-50%);
}

.rub {
  position: static;
  font-family: 'rouble';
}

/*! HEADER-------------------------------- */

.header {
  position: relative;
  z-index: 10;
  padding-bottom: 125px;
  background-image: url(../img/banner-bg.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: #000000;
  opacity: 0.6;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  margin-bottom: 100px;
}

.header__wrapper-logo img {
  max-width: 179px;
  width: 100%;
}

.header__wrapper-menu ul {
  display: flex;
}

.header__wrapper-menu li+li {
  margin-left: 35px;
}


.header__wrapper-menu a {
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
}

.header__wrapper-title {
  max-width: 690px;
  margin: 0 auto;
  text-align: center;
  font-size: 45px;
  font-family: "Open-Sans-Bold";
  text-transform: uppercase;
  color: #ffffff;
  line-height: 75px;
}

/*! MAIN-------------------------------- */

.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
}

.trends__up {
  margin-top: 51px;
  margin-bottom: 28px;
}

.trends__up-title {
  font-size: 20px;
}

.trends__down {
  display: flex;
  min-height: 320px;
  margin: 0 -2px;
}

.trends__item {
  position: relative;
  z-index: 50;
  display: flex;
  align-items: flex-end;
  max-width: 25%;
  width: 100%;
  margin: 0 2px;
  padding: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #000000;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.trends__item::after {
  content: "";
  position: absolute;
  z-index: -50;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
}

.trend1 {
  background-image: url(../img/trend1.jpeg);
}

.trend2 {
  background-image: url(../img/trend2.jpeg);
}

.trend3 {
  background-image: url(../img/trend3.jpeg);
}

.trend4 {
  background-image: url(../img/trend4.jpeg);
}

.trends__item-wrapper {
  width: 100%;
  min-height: 150px;
  padding: 33px;
  border: 3px solid #b59f5b;
}

.trends__item-links {
  display: flex;
}

.trends__item-links a{
  font-size: 14px;
  font-family: "Open-Sans-Bold";
  color: #b59f5b;
}

.trends__item-links .element-hover::after{
  background-color: #b59f5b;
}
.trends__item-links li+li{
  margin-left: 15px;
}

.trends__item-title {
  font-size: 20px;
  font-family: "Open-Sans-Bold";
}

.content-wrapper .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 65px;
}

.main {
  max-width: 780px;
  width: 100%;

}

.main-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 60px;
}

.main-item__img {
  max-width: 381px;
  width: 100%;
}

.main-item__сontent {
  margin-left: 30px;
  margin-top: -5px;
}

.main-item__tegs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: -17px;
  margin-bottom: 5px;
}

.main-item__tegs .element-hover::after {
  background-color: #b59f5b;
}

.main-item__tegs a {
  text-transform: uppercase;
  font-family: "Open-Sans-Bold";
  font-size: 14px;
  color: #b59f5b;
}

.main-item__tegs li {
  margin-left: 17px;
}

.main-item__title {
  margin-bottom: 30px;
}

.main-item__title a {
  font-family: "Open-Sans-Bold";
  text-transform: uppercase;
  color: #000000;
  font-size: 20px;
}

.main-item__title:hover.main-item__title a {
  color: #b59f5b;
}

.main-item__info {
  color: #000000;
  font-size: 12px;
  font-family: "Open-Sans-Bold";
  margin-bottom: 45px;
}

.main-item__info time {
  color: #888888;
  font-family: "Open-Sans-Regular";
  margin-right: 15px;
}

.main-item-text {
  color: #0f0d0e;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 14px;
}

.main-item-text:last-child {
  margin-bottom: 0;
}

/*! ASSIDE-------------------------------- */

.asside {
  width: 270px;
}

.asside__posts {
  margin-bottom: 60px;
}

.asside-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.asside-item__img {
  max-width: 70px;
  width: 100%;
}

.asside-item__content {
  margin-left: 20px;
}

.asside-item__info {
  margin-top: -5px;
  margin-bottom: 5px;
  font-size: 12px;
  color: #000000;
  opacity: 0.54;
}

.asside-item__title a {
  font-family: "Open-Sans-Bold";
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.asside-item__title:hover.asside-item__title a {
  color: #b59f5b;
}

.asside__search {
  margin-bottom: 60px;
}

.asside__search form {
  display: flex;
}

.asside__search label {
  max-width: 222px;
  width: 100%;
}

.asside__input {
  display: block;
  width: 100%;
  height: 48px;
  padding: 18px;
  padding-right: 8px;
  background-color: #f4f7f6;
  border: none;
  outline: none;
}

.asside__input::placeholder {
  font-size: 13px;
  color: #000000;
  opacity: 0.54;
}

.asside__input:focus {
  border: 1px solid #b59f5b;
}

.asside__button {
  height: 48px;
  background-color: #b59f5b;
  border: none;
  outline: none;
  cursor: pointer;
}

.asside__button:hover {
  background-color: #323232;
}

.asside__search button {
  position: relative;
  width: 48px;
}

.asside__search button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  background-image: url(../img/svg/search.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}

.asside__email {
  margin-bottom: 60px;
}

.asside__email label {
  display: block;
  margin-bottom: 16px;
}

.asside__email .asside__button {
  width: 100%;
  font-family: "Open-Sans-Bold";
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.asside__tags {
  margin-bottom: 60px;
}

.asside__tags-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
}

.asside__tags-list li {
  margin-left: 5px;
}

.asside__tags-list a {
  display: block;
  padding: 5px 14px;
  margin-bottom: 6px;
  text-align: center;
  font-family: "Open-Sans-Bold";
  font-size: 12px;
  text-transform: uppercase;
  color: #0f0d0e;
  border: 3px solid #eeeeee;
}

.asside__tags-list a:hover {
  border: 3px solid #b59f5b;
}

.asside__themes {
  margin-bottom: 60px;
}

.asside__themes-list li {
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eeeeee;
}

.asside__themes-list li:last-child {
  margin-bottom: 0;
}

.asside__themes-list a {
  position: relative;
  font-family: "Open-Sans-Bold";
  font-size: 14px;
  color: #000000;
}

.asside__themes-list a:hover {
  color: #b59f5b;
}

.asside__themes-list span{
  position: absolute;
  top: 0;
  left: 105%;
  transform: translateY(-40%);
  font-family: "Open-Sans-Bold";
  font-size: 12px;
  color: #b59f5b; 
}

.products .container{
  display: block;  
  padding-top: 0;
}

.products__up {
  margin-bottom: 28px;
}

.products__up-title {
  font-size: 20px;
}

.products__down {
  display: flex;
  flex-wrap: wrap;
  padding: 0 23px;
  margin-bottom: 60px;
  justify-content: space-between;
}

.products__item {
  position: relative;
  max-width: 300px;
}

.products__item::after {
  content: '';
  position: absolute;
  top: 174px;
  left: 50%;
  min-height: 66%;
  width: 116%;
  border: 3px solid #b59f5b;
  transform: translate(-50%);
}

.products__item-img {
  width: 100%;
  min-height: 205px;
}

.products__info {
  margin-top: 16px;
}

.products__info-title {
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Open-Sans-Bold";
  color: #0f0d0e;
}

.products__info-text {
  font-size: 15px;
  color: #0f0d0e;
}

.products__info-text a{
  display: inline;
  color: #b59f5b;
}
.products__info-text:hover{
  font-family: "Open-Sans-Bold";
}

.products__info-text:hover a {
  font-family: "Open-Sans-Bold";
}

.products__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
}

.products__wrapper-price {
  position: relative;
  padding-top: 15px;
  font-family: "Open-Sans-Bold";
}

.last-price .rub{
  margin-left: 1px;
}

.last-price{
  position: absolute;
  left: 0;
  top: 0px;
  display: flex;
  align-items: center;
  font-family: "Open-Sans-Bold";
  font-size: 14px;
}

.products__wrapper-link {
  padding: 15px 27px;
  font-family: "Open-Sans-Bold";
  color: #ffffff;
  background-color: #b59f5b;
}

.products__wrapper-link:hover {
  background-color: #323232;
}
/*! FOOTER-------------------------------- */
.footer {
  padding-bottom: 40px;
}

.footer__wrapper {
  width: 100%;
  padding: 30px 0px;
  background-color: #f4f7f6;
  margin-bottom: 70px;
}

.footer__social {
  display: flex;
  max-width: 250px;
  width: 100%;
  margin: 0 auto;
}

.footer__social li {
  width: 25px;
  height: 25px;
}

.footer__social li+li {
  margin-left: 28px;
}

.footer__social-link {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.twitter {
  background-image: url(../img/svg/004-twitter.svg);
}

.pinterest {
  background-image: url(../img/svg/001-pinterest.svg);
}

.facebook {
  background-image: url(../img/svg/002-facebook-logo.svg);
}

.instagram {
  background-image: url(../img/svg/005-instagram.svg);
}

.tamblr {
  background-image: url(../img/svg/003-tumblr.svg);
}

.footer__copyright {
  text-align: center;
  font-family: "Open-Sans-Bold";
  font-size: 12px;
  color: #999999;
}